.users-list {
    display: none;
    flex-direction: column;
    background: var(--secondary-color);
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-gray-color);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    z-index: 1;
    top: 40px;
    color: var(--font-color);
    width: 100%;
    cursor: pointer;
}

.showing {
    display: flex;
}

.user-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}