:root {
    --main-color: #0090FF;
    --dark-main-color: #1F7DF5;
    --light-main-color: #0090FF;
    --secondary-color: #ffffff;
    --read-color: #f3f3f3;
    --background-color: #f6f6f6;
    --notification-color: #ffc107;
    --archive-color: #17a2b8;
    --font-color: #080808;
    --light-green: #E8EAF5;
    --gray-color: #B8BCCA;
    --dark-gray-color: #3D5A6F;
    --light-gray-color: #F2F2F2;
    --red-color: #dc3545;
    --dark-red-color: #c82333;
    --green-color: #4AE4CD;
}