:root {
    --main-color: #24a681;
    --dark-main-color: #1a7e64;
    --secondary-color: #ffffff;
    --read-color: #f3f3f3;
    --background-color: #f6f6f6;
    --notification-color: #f27d16;
    --archive-color: #63b3f0;
    --font-color: #080808;
    --light-green: #D8F8ED;
    --gray-color: #d5d5d5;
    --dark-gray-color: #9A9A9A;
}