.mail-box {
    position: absolute;
    width: 480px;
    max-height: 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
    transition: 0.5s;
    bottom: 0;
    right: 60px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.open {
    max-height: 600px;
}

.mail-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 1.3em;
    padding: 10px 20px;
}

.mail-box-btns {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.mail-box-btns .fa {
    cursor: pointer;
}

.mail-box-btns .fa:hover {
    color: var(--font-color);
}

.minimized {
    max-height: 0 !important;
}

.mail-form {
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail-box-body {
    max-height: 500px;
    width: 100%;
    transition: 0.3s;
    overflow-y: hidden;
}

.mail-form input {
    width: 100%;
    border-bottom: 2px solid var(--font-color);
    font-size: 1em;
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
}

.mail-form input:focus {
    border-bottom: 2px solid var(--main-color);
}

.message-box {
    height: 100%;
}

.mail-form textarea {
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
    border: 1px solid var(--gray-color);
    padding: 10px;
    overflow-y: auto;
}

.mail-form textarea:focus {
    border: 2px solid var(--main-color);
}

.btns-box {
    height: fit-content;
}

.send-btn {
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: var(--dark-main-color);
}

@media (max-width: 700px){
    .mail-box {
        width: 90vw;
        right: calc(10vw/2);
    }

    .open {
        max-height: 400px;
    }

    .mail-box textarea {
        height: 200px;
    }
}