header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid var(--font-color);
    margin-bottom: 30px;
}

.page-name {
    font-size: 1.5em;
}

.user-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}

.user i {
    font-size: 2em;
    transition: 0.3s;
}

.user span {
    font-size: .95em;
}

.user:hover i:last-child {
    color: var(--main-color);
}

.is-open {
    color: var(--main-color);
    transform: rotate(180deg);
}

