nav {
    height: 100%;
    width: 250px;
    overflow-y: auto;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    font-size: 1.3em;
    padding: 1em;
    border-right: 1px solid var(--light-gray-color);
}

.logo {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    margin-left: 0.5em;
}

nav ul {
    list-style: none;
    width: 100%;
}

nav li {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 8px;
}

nav li:hover {
    background-color: var(--light-green);
}

nav li a {
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}

nav li span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    color: var(--secondary-color);
    padding: 2px 5px;
    width: 35px;
    border-radius: 2px;
    font-size: 0.85em;
}

nav li i {
    margin-right: 10px;
    color: var(--main-color);
}

.new-email-btn {
    background: var(--main-color);
    color: var(--secondary-color);
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.new-email-btn:hover {
    background-color: var(--dark-main-color);
}

.new-email-btn span {
    margin-right: 10px;
}

.selected {
    background-color: var(--light-green);
    color: var(--main-color);
}

.close-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2em;
    cursor: pointer;
}

.close-nav i:hover {
    color: var(--red-color);
}

.show {
    display: none;
}

@media (max-width: 700px) {
    nav {
        position: absolute;
        border: none;
        left: -300px;
        transition: 0.3s;
    }

    .nav-background {
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        display: none;
    }

    .show {
        display: flex;
    }

    .open-nav {
        display: block;
    }

    .show-nav {
        left: 0;
    }
}