.options {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    width: fit-content;
}

.option-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    width: fit-content;
}

.option-menu:hover {
    background-color: var(--light-main-color);
    border-radius: 4px;
    color: var(--secondary-color);
}

.option-menu i {
    margin-left: 3px;
}

.open {
    background-color: var(--light-main-color);
    color: var(--secondary-color);
    border-radius: 4px;
}

.option-btns {
    display: flex;
    width: fit-content;
}

.option-btn {
    background: var(--secondary-color);
    padding: 8px;
    margin: 0 3px 0 0;
    cursor: pointer;
    color: var(--light-main-color);
    border-radius: 2px;
}

.option-btn:hover {
    background: var(--light-main-color);
    color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dropdown-header {
    font-size: 20px;
    display: flex;
    gap: 5px;
}
