@font-face {
    font-family: Roboto;
    src: url("Assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Gesta;
    src: url("Assets/fonts/Gesta/Gesta Condensed.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-family: 'Gesta', 'Roboto', sans-serif;
    font-size: 1em;
    user-select: none;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-main-color) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background: var(--light-main-color);
    border-radius: 12px;
    border: 0px none #ffffff;
}