@font-face {
    font-family: Roboto;
    src: url("Assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Gesta;
    src: url("Assets/fonts/Gesta/Gesta Condensed.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Gesta', 'Roboto', sans-serif;
    font-size: 1vw;
    user-select: none;
}

@media (max-width:  1300px) and (min-width: 900px) {
    body {
        font-size: 1.5vw;
    }
}

@media (max-width:  900px) {
    body {
        font-size: 2vw;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #24a681 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #24a681;
    border-radius: 12px;
    border: 0px none #ffffff;
}